.hidden {
  opacity: 0;
  pointer-events: none;
}

.group {
  margin-left: -8px;
  position: relative;
}

.anchor {
  margin-left: -32px;
  opacity: 0;
  position: absolute;

  .group:is(:focus, :hover) & {
    opacity: 1;
  }
}

.pound {
  background-color: var(--ax-colors-bg-default);
  outline: 1px solid var(--ax-colors-border-default);

  &:hover {
    color: var(--ax-colors-fg-secondary);
    outline-color: var(--ax-colors-border-secondary);
  }
}
