.expandable {
  display: flex;
  flex-direction: column;
  max-height: 700px;
  overflow: hidden;
}

.expandable [class~="nextra-code-block"] {
  border-bottom-left-radius: var(--ax-borderRadius-lg);
  border-bottom-right-radius: var(--ax-borderRadius-lg);
  flex: 1;
  overflow: auto;
}

.expandable pre {
  padding-bottom: 56px;
}

.collapsed {
  height: 300px;
}

.collapsed [class~="nextra-code-block"] {
  overflow: hidden;
}

.editor {
  position: relative;
}

.editor pre {
  background: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 0;
}

.editor [role="tablist"] {
  font-size: 14px;
  margin-top: 0;
}

.editor [role="tabpanel"] {
  padding-top: 0;
}
