.expandable {
  display: flex;
  flex-direction: column;
  max-height: 700px;
  overflow: hidden;
}

.expandable {
  --overflow: auto;
}

.expandable pre {
  padding-bottom: 56px;
}

.collapsed {
  height: 300px;
}

.collapsed {
  --overflow: hidden;
}

.editor {
  background-color: var(--docs-code-bg);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  position: relative;
}

.editor pre {
  --tw-ring-color: transparent;
  background: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 0;
}

.editor > [class~="nextra-code"] {
  flex: 1;
  overflow: var(--overflow);
}

.editor :has(> [role="tablist"]) {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.editor [role="tablist"] {
  flex-shrink: 0;
  font-size: 14px;
  margin-top: 0;
}

.editor :has(> [role="tabpanel"]) {
  flex: 1;
  overflow: var(--overflow);
}

.editor [role="tabpanel"] {
  margin-top: 0;
}
