:global(#__next):has(.brand)::after {
  --bg: color-mix(in srgb, var(--ax-colors-fg-accent) 20%, transparent);

  animation: pulse 10s infinite;
  background-image: linear-gradient(var(--bg) 1px, transparent 1px),
    linear-gradient(to right, var(--bg) 1px, transparent 1px);
  background-position: center;
  background-size: 70px 70px;
  border-bottom: 1px solid var(--ax-colors-border-default);
  content: "";
  inset: 0;
  mask-image: linear-gradient(
    120deg,
    rgb(0 0 0 / 20%) calc(40%),
    rgb(0 0 0 / 100%),
    rgb(0 0 0 / 20%) calc(60%)
  );
  mask-position: 200% 0%;
  mask-size: 150% 100%;
  pointer-events: none;
  position: absolute;
  z-index: -10;
}

.heading {
  font-weight: 800;
  letter-spacing: -0.025em;

  @media screen and (min-width: 37.5rem) {
    font-size: 48px;
    line-height: 1;
  }

  @media screen and (min-width: 56.25rem) {
    font-size: 60px;
    line-height: 1;
  }
}

.brand {
  color: color-mix(in srgb, var(--ax-colors-fg-accent), transparent);
}

.button {
  --bg: color-mix(
    in srgb,
    var(--ax-colors-bg-accent-light) 60%,
    var(--ax-colors-bg-default)
  );

  animation: spin 5s linear infinite;
  border: 1px solid transparent;
  background-image: linear-gradient(var(--bg), var(--bg)),
    conic-gradient(
      from var(--angle),
      color-mix(in srgb, var(--ax-colors-border-accent) 10%, var(--bg)) 15%,
      var(--ax-colors-border-accent),
      color-mix(in srgb, var(--ax-colors-border-accent) 10%, var(--bg)) 85%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: 0 0 30px 5px
    color-mix(in srgb, var(--ax-colors-border-accent) 10%, transparent);
  display: inline-block;
  position: relative;
  transition:
    all 0.3s,
    --bg 0.3s;
}

.button:hover {
  --bg: color-mix(
    in srgb,
    var(--ax-colors-bg-accent-light) 80%,
    var(--ax-colors-bg-default)
  );
}

.fade {
  animation: fadeIn 650ms forwards;
  opacity: 0;
}

.fade ~ .fade {
  animation-delay: 250ms;
}

.fade ~ .fade ~ .fade {
  animation-delay: 400ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(24px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  100% {
    mask-position: -100% 0%;
  }
}

@keyframes spin {
  to {
    --angle: 1turn;
  }
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0turn;
}

@property --bg {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}

@property --spread {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}
