@layer optiaxiom.theme {
  ._9939fd78 {
    fill: currentColor;
    flex: none;
    height: var(
      --ax-styles-iconSize,
      calc(1.25 * var(--ax-styles-scale, 1rem))
    );
    width: var(--ax-styles-iconSize, calc(1.25 * var(--ax-styles-scale, 1rem)));
  }
}
