.base {
  background-color: var(--ax-colors-bg-secondary);
  border: 1px solid var(--ax-colors-bg-tertiary);
  cursor: pointer;

  &:hover {
    background-color: var(--ax-colors-bg-information-subtle);
    border-color: var(--ax-colors-bg-information-light);
  }
}
