html {
  font-family: InterVariable, sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04";
}

:root {
  --docs-bg-shadow-size: 85%;
  --docs-code-bg: light-dark(var(--ax-colors-bg-secondary), rgb(1, 22, 39));

  &[class~="dark"] {
    --docs-bg-pillar-opacity: 20%;
    --docs-bg-shadow-size: 65%;
  }

  @media screen and (min-width: 640px) {
    & {
      --docs-bg-shadow-size: 45%;
    }

    &[class~="dark"] {
      --docs-bg-shadow-size: 25%;
    }
  }

  --shiki-color-text: light-dark(#24292eff, #d6deeb);
  --shiki-token-constant: light-dark(#1976d2, #f78c6c);
  --shiki-token-keyword: light-dark(#d32f2f, #c792ea);
  --shiki-token-function: light-dark(#6f42c1, #82aaff);
  --shiki-token-string-expression: light-dark(#22863a, #ecc48d);
}

body,
.nextra-nav-container-blur,
.nextra-toc-footer,
.nextra-sidebar-footer {
  background-color: var(--ax-colors-bg-page);
}

._shadow-\[0_12px_16px_rgb\(var\(--nextra-bg\)\)\],
.nextra-toc-footer,
.nextra-sidebar-footer {
  --tw-shadow: 0 -12px 16px var(--ax-colors-bg-page);
}

@media not all and (min-width: 768px) {
  .nextra-sidebar-container {
    background-color: var(--ax-colors-bg-page);
  }
}

.nextra-nav-container ~ footer {
  background-color: var(--ax-colors-bg-default);
}

body:before {
  background-image: radial-gradient(
    var(--docs-bg-shadow-size) 70% at 50% 0%,
    rgb(from #c4b1e2 r g b / var(--docs-bg-pillar-opacity, 40%)) 0%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 50vh;
  content: "";
  display: block;
  height: 50vh;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
}

.nextra-nav-container-blur {
  background-color: rgb(255 255 255 / 30%);

  &:is(html[class~="dark"] *) {
    background-color: rgb(17 17 17 / 30%) !important;
  }
}

.nextra-steps {
  margin-left: 10px;
  padding-left: 20px;

  & h3:before {
    line-height: 25px;
    margin-top: -2.5px;
    margin-left: -37px;
  }

  :is(h2, h3, h4):is(html[class~="dark"] *):before {
    border-color: var(--ax-colors-bg-page);
  }
}

.nextra-code .nextra-focus {
  --tw-ring-color: rgb(
    from var(--ax-colors-border-default) r g b / var(--tw-ring-opacity)
  );
  background-color: var(--docs-code-bg);
}

.logo {
  align-items: center;
  display: flex;
  gap: 8px;

  & span {
    border-radius: 100%;
    height: 32px;
    width: 32px;

    & svg {
      height: 100%;
      width: 100%;
    }
  }
}

.tabler-icon {
  stroke-width: 1.5;
}

.hover\:_underline:hover {
  text-decoration: underline;
}
