@import "nextra-theme-docs/style.css" layer(theme);

html {
  font-family: InterVariable, sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

:root {
  --docs-bg-shadow-size: 85%;

  &[class~="dark"] {
    --docs-bg-pillar-opacity: 20%;
    --docs-bg-shadow-size: 65%;
  }

  @media screen and (min-width: 640px) {
    & {
      --docs-bg-shadow-size: 45%;
    }

    &[class~="dark"] {
      --docs-bg-shadow-size: 25%;
    }
  }
}

body:before {
  background-image: radial-gradient(
    var(--docs-bg-shadow-size) 70% at 50% 0%,
    rgb(from #c4b1e2 r g b / var(--docs-bg-pillar-opacity, 40%)) 0%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 50vh;
  content: "";
  display: block;
  height: 50vh;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
}

.nextra-nav-container-blur {
  background-color: rgb(255 255 255 / 30%);

  &:is(html[class~="dark"] *) {
    background-color: rgb(17 17 17 / 30%) !important;
  }
}

.logo {
  background-color: #333;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  border-radius: 100%;
  display: inline-block;
  height: 32px;
  margin-right: 4px;
  vertical-align: middle;
  width: 32px;
}

.hover\:nx-underline:hover {
  text-decoration: underline;
}
