@import "nextra-theme-docs/style.css" layer(theme);

html {
  font-family: InterVariable, sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04";
}

:root {
  --docs-bg-shadow-size: 85%;

  &[class~="dark"] {
    --docs-bg-pillar-opacity: 20%;
    --docs-bg-shadow-size: 65%;
  }

  @media screen and (min-width: 640px) {
    & {
      --docs-bg-shadow-size: 45%;
    }

    &[class~="dark"] {
      --docs-bg-shadow-size: 25%;
    }
  }
}

body:before {
  background-image: radial-gradient(
    var(--docs-bg-shadow-size) 70% at 50% 0%,
    rgb(from #c4b1e2 r g b / var(--docs-bg-pillar-opacity, 40%)) 0%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 50vh;
  content: "";
  display: block;
  height: 50vh;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
}

.nextra-nav-container-blur {
  background-color: rgb(255 255 255 / 30%);

  &:is(html[class~="dark"] *) {
    background-color: rgb(17 17 17 / 30%) !important;
  }
}

.nextra-steps {
  margin-left: 10px;
  padding-left: 20px;

  & h3:before {
    line-height: 25px;
    margin-top: -2.5px;
    margin-left: -37px;
  }
}

.logo {
  align-items: center;
  display: flex;
  gap: 8px;

  & span {
    border-radius: 100%;
    height: 32px;
    width: 32px;

    & svg {
      height: 100%;
      width: 100%;
    }
  }
}

.hover\:nx-underline:hover {
  text-decoration: underline;
}
