.container {
  margin-inline: -16px;
}

.card {
  &:hover {
    background-color: var(--ax-colors-bg-secondary);
  }
}

.icon {
  border-color: var(--ax-colors-bg-default);
  outline: 0.5px solid var(--ax-colors-border-default);
}
