.layer {
  --size: calc(32px - var(--card-hover, 0) * 12px);
  --space: calc(var(--card-hover, 0) * 1.1);

  grid-area: 1 / 1 / 2 / 2;
  height: var(--size);
  opacity: calc(var(--card-hover, 0) * 0.8);
  width: auto;
}

.layer:nth-child(2) {
  margin-left: calc(var(--size) * var(--space));
  opacity: 0.8;
}

.layer:nth-child(3) {
  margin-left: calc(var(--size) * 2 * var(--space));
}
