@value card from "../CardsItem.module.css";

.layer {
  --size: 32px;
  --space: 0;

  grid-area: 1 / 1 / 2 / 2;
  height: var(--size);
  opacity: 0;
}

.layer:nth-child(2) {
  margin-left: calc(var(--size) * var(--space));
  opacity: 0.8;
}

.layer:nth-child(3) {
  margin-left: calc(var(--size) * 2 * var(--space));
}

:global(.card):hover .layer {
  --size: 20px;
  --space: 1.1;

  opacity: 0.8;
}
