name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    if: ${{ github.event_name != 'push' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version-file: .node-version

      - run: pnpm install

      - run: |
          pnpm build
          pnpm --silent bundle-size > bundle-size-main.json

      - uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          path: bundle-size-main.json

      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version-file: .node-version

      - run: pnpm install

      - uses: actions/download-artifact@v4

      - run: |
          mkdir ./pr
          echo ${{ github.event.number }} > ./pr/ID
          pnpm build
          pnpm --silent bundle-size compare artifact/bundle-size-main.json > ./pr/bundle-size.md

      - uses: actions/upload-artifact@v4
        with:
          name: pr-build
          path: pr/

  chromatic:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version-file: .node-version

      - run: |
          pnpm install
          pnpm build

      - uses: chromaui/action@latest
        with:
          buildScriptName: build
          exitZeroOnChanges: true
          projectToken: chpt_1768d7812fc589a
          workingDir: apps/storybook

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version-file: .node-version

      - run: pnpm install

      - uses: actions/cache@v4
        with:
          path: apps/docs/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('pnpm-lock.yaml') }}-${{ hashFiles('apps/docs/**/*.mjs', 'apps/docs/**/*.mdx', 'apps/docs/**/*.tsx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('pnpm-lock.yaml') }}-

      - run: |
          pnpm -F docs... -F web-components... build
          pnpm lint --no-fix
          pnpm exec vitest run
