name: Figma

on:
  push:
    branches: [main]
    paths:
      - apps/figma/**

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  publish:
    if: ${{ github.repository_owner == 'optimizely-axiom' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version-file: .node-version

      - run: pnpm install

      - run: pnpm -F figma... build
        env:
          FIGMA_ACCESS_TOKEN: ${{ secrets.FIGMA_ACCESS_TOKEN }}
